<?xml version="1.0" encoding="utf-8" ?>

<configuration>
	<configSections>
		<sectionGroup name="applicationSettings"
                      type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >

			<section name="YourProjectName.Properties.Settings"
                     type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                     requirePermission="false" />

		</sectionGroup>

		
		
	</configSections>
	<startup useLegacyV2RuntimeActivationPolicy="true">
		<supportedRuntime version="v4.0" />
	</startup>
	<appSettings>

		<add key="UpdatePath" value="https://uniallreport.servebbs.com/UForce/api/Download/DowloadFile?fileName=Back-End/" />
		<add key="LocalPathD" value="D:\U-Force\" />
		<add key="LocalPathE" value="E:\U-Force\" />
		<add key="LocalPathC" value="C:\U-Force\" />
		<add key="CenterConnect" value="Data Source=UFORCEHQ.DNSDOJO.NET,14143;Initial Catalog=DB_SDSS_UNI_CENTER;User id=sa;Password=Alldb#;Connection Timeout=0;" />
		<!--<add key="CenterConnect" value="Data Source=UFORCEHQ.DNSDOJO.NET,14143;Initial Catalog=DB_SDSS_UNI_CENTER;User id=sa;Password=Alldb#;Connection Timeout=0;" />-->
	</appSettings>
</configuration>