<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="businessObjects">
      <sectionGroup name="crystalReports">
        <section name="crystalReportViewer" type="System.Configuration.NameValueSectionHandler" />
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" />
  </startup>
  <appSettings>
    <add key="Timeout" value="0" />
    <add key="Version" value="U-Force Back-End" />
    <add key="CopyRightTextR1" value="Copyright @ 2020-2022 All right reversed" />
    <add key="CopyRightTextR2" value="Power by IT United Foods Co., Ltd" />
    <!--<add key="ReportPath" value="D:\United Food\1.0.8\Reports\" />-->
    <add key="ReportPath" value="C:\AllCashUSolution\ALLC_UNI\AllCashUFormsApp\Reports\" />
	<add key="XSLTPath" value="C:\AllCashUSolution\ALLC_UNI\AllCashUFormsApp\XSLT\" />
	<add key="UpdatePath" value="https://uniallreport.servebbs.com/UForce/api/Download/DowloadFile?fileName=Back-End/" />
	<add key="LocalPath" value="D:\U-Force\" />
	<add key="CenterConnect" value="Data Source=UFORCEHQ.DNSDOJO.NET,14143;Initial Catalog=DB_SDSS_UNI_CENTER;User id=sa;Password=Alldb#;Connection Timeout=0;" />
	  <!--<add key="CenterConnect" value="Data Source=UFORCEHQ.DNSDOJO.NET,14143;Initial Catalog=DB_SDSS_UNI_CENTER;User id=sa;Password=Alldb#;Connection Timeout=0;" />-->
    <!-- add for display database panel-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
	  
	<add key="mail_from" value="sailom@unitedfoods.com" />
	<add key="mail_from_pass" value="sailom123#!" />
	<add key="mail_to" value="sailom@unitedfoods.com" />
	<add key="mail_port" value="26" />
	<add key="mail_host" value="mail.unitedfoods.com" />
  </appSettings>
	<system.net>
		<mailSettings>
			<smtp deliveryMethod="PickupDirectoryFromIis">
				<network defaultCredentials="true" host="mail.unitedfoods.com" port="25"/>
			</smtp>
		</mailSettings>
	</system.net>
  <connectionStrings>
	  <add name="UNI_ศูนย์อุบลราชธานี" connectionString="metadata=res://*/Model.DBModel.csdl|res://*/Model.DBModel.ssdl|res://*/Model.DBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=UBN.DNSDOJO.NET,14501;initial catalog=DB_ALL_CASH_UNI_UBN;user id=sa;password=Alldb#;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	  <add name="UNI_ศูนย์ลพบุรี" connectionString="metadata=res://*/Model.DBModel.csdl|res://*/Model.DBModel.ssdl|res://*/Model.DBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LRI.DNSDOJO.NET,14501;initial catalog=DB_ALL_CASH_UNI_LRI;user id=sa;password=Alldb#;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	  <add name="UNI_ศูนย์นครราชสีมา" connectionString="metadata=res://*/Model.DBModel.csdl|res://*/Model.DBModel.ssdl|res://*/Model.DBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=nma.dnsdojo.com,14501;initial catalog=DB_ALL_CASH_UNI_NMA;user id=sa;password=Alldb#;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	  <add name="UNI_ศูนย์สกลนคร" connectionString="metadata=res://*/Model.DBModel.csdl|res://*/Model.DBModel.ssdl|res://*/Model.DBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=snk.dnsdojo.net,14141;initial catalog=DB_ALL_CASH_UNI_SNK;user id=sa;password=Alldb#;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	  <add name="UNI_CENTER" connectionString="metadata=res://*/Model.DBModel.csdl|res://*/Model.DBModel.ssdl|res://*/Model.DBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.14;initial catalog=DB_SDSS_UNI_CENTER;user id=sa;password=Alldb#;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	  <add name="UNI_ศูนย์นครราชสีมา_Test" connectionString="metadata=res://*/Model.DBModel.csdl|res://*/Model.DBModel.ssdl|res://*/Model.DBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=nma.dnsdojo.com,14501;initial catalog=DB_ALL_CASH_UNI_NMA_07-02-2022;user id=sa;password=Alldb#;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	  <add name="UNI_ศูนย์ลพบุรี_Test" connectionString="metadata=res://*/Model.DBModel.csdl|res://*/Model.DBModel.ssdl|res://*/Model.DBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LRI.DNSDOJO.NET,14501;initial catalog=DB_ALL_CASH_UNI_LRI_TEST;user id=sa;password=Alldb#;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	  <add name="UNI_ศูนย์อุบลราชธานี_Manual" connectionString="metadata=res://*/Model.DBModel.csdl|res://*/Model.DBModel.ssdl|res://*/Model.DBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=UBN.DNSDOJO.NET,14501;initial catalog=DB_ALL_CASH_UNI_UBN_MANUAL;user id=sa;password=Alldb#;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	  <add name="UNI_ศูนย์อุบลราชธานี_Test" connectionString="metadata=res://*/Model.DBModel.csdl|res://*/Model.DBModel.ssdl|res://*/Model.DBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=UBN.DNSDOJO.NET,14501;initial catalog=DB_ALL_CASH_UNI_UBN_TEST;user id=sa;password=Alldb#;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	  <add name="UNI_ศูนย์สกลนคร_200" connectionString="metadata=res://*/Model.DBModel.csdl|res://*/Model.DBModel.ssdl|res://*/Model.DBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.200;initial catalog=DB_ALL_CASH_UNI_SNK;user id=sa;password=Alldb#;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	  <add name="UNI_สมุทรสาคร_200" connectionString="metadata=res://*/Model.DBModel.csdl|res://*/Model.DBModel.ssdl|res://*/Model.DBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.200;initial catalog=DB_ALL_CASH_UNI_SKN;user id=sa;password=Alldb#;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	  <add name="UNI_ศูนย์อุบลราชธานี_26012022" connectionString="metadata=res://*/Model.DBModel.csdl|res://*/Model.DBModel.ssdl|res://*/Model.DBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=UBN.DNSDOJO.NET,14501;initial catalog=DB_ALL_CASH_UNI_UBN_26012022;user id=sa;password=Alldb#;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />

  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <!-- <assemblyIdentity name="System.Web.Services" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/> -->
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <bindingRedirect oldVersion="13.0.1800.0" newVersion="13.0.3500.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>