<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net40" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net40" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net40" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net40" />
  <package id="Microsoft.ReportViewer.WinForms.v12" version="12.0.0.1" targetFramework="net40" />
  <package id="Microsoft.SqlServer.Types" version="14.0.314.76" targetFramework="net40" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net40" />
  <package id="Theraot.Core" version="3.2.9" targetFramework="net40" />
  <package id="Vanara.Core" version="3.3.15" targetFramework="net40" />
  <package id="Vanara.PInvoke.Cryptography" version="3.3.15" targetFramework="net40" />
  <package id="Vanara.PInvoke.Gdi32" version="3.3.15" targetFramework="net40" />
  <package id="Vanara.PInvoke.Kernel32" version="3.3.15" targetFramework="net40" />
  <package id="Vanara.PInvoke.Ole" version="3.3.15" targetFramework="net40" />
  <package id="Vanara.PInvoke.Rpc" version="3.3.15" targetFramework="net40" />
  <package id="Vanara.PInvoke.Security" version="3.3.15" targetFramework="net40" />
  <package id="Vanara.PInvoke.Shared" version="3.3.15" targetFramework="net40" />
  <package id="Vanara.PInvoke.ShlwApi" version="3.3.15" targetFramework="net40" />
</packages>